*{
  box-sizing: border-box;
  text-align: center;
}
body{
  background-image: url(https://i.ytimg.com/vi/VFyJH_856bE/maxresdefault.jpg);
  background-size:cover;
	background-repeat:no-repeat;
}
h1{
  font-size: 4rem;
  color: mediumblue
}
input{
  font-size: 2rem;
}

button{
  padding: 33px 15px 10px 34px;
}

span{
  font-size: 5rem;
  color: orangered;
}
